
.Navi {
    position: absolute;
    right: 0;
    background-color: transparent;
    }

.button {
    width: 22px;
    height: 35px;
    border: none;
    }
    .button:focus {
    outline: transparent;
    }